<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GettingStartedWithKIF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC6033711A7DC71200E6B91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC60338A1A7DC71200E6B91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC60339E1A7DC9AF00E6B91F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
